RewriteEngine On




RewriteRule ^browse_(.*)_(.*).html browse.php?cat=$1&start=$2
RewriteRule ^browse_(.*).html browse.php?cat=$1
RewriteRule ^browse.html browse.php?cat=0

RewriteRule ^details_(.*).html product_details.php?id=$1

RewriteRule ^news_view_([0-9]+).html news.php?id=$1
RewriteRule ^news_([0-9]+)_([0-9]+).html news.php?cat=$1&start=$2
RewriteRule ^news_([0-9]+).html news.php?cat=$1

RewriteRule ^news.html news.php

RewriteRule ^page_(.*).html index.php?action=pages&id=$1


RewriteRule ^sitemap.xml sitemap.php


#RewriteRule ^(.*) path.php